/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color:#19c8fa;
    --transparnt-color:rgb(15 116 143 / 70%);
    --secend-color:#777;
    --main-padding: 60px;
    --Transition: all 0.4s linear;
}
body {
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
/* start componant */
.main-header {
    text-align: center ;
}
.main-header h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
}
.main-header h2::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 45%;
    transform: translateY(-50%);
    bottom: -30px;
    width: 120px;
    background-color: black;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-header h2::after {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 49%;
    transform: translateY(-50%);
    bottom: -47px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-header p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End componant */


html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;

}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        width: 570px;
    }
}

/* // Medium devices  */
@media (min-width: 768px) {
    .container{
        width: 752px;
    }
}

/* // Large devices  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* // X-Large devices  */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/* // XX-Large devices  */
@media (min-width: 1400px){
    .container {
        width: 1350px;
    }
} 
.hidden {
    opacity: 0;
}
.left {
    position: relative;
    left: -500px;
    opacity: 0;
}
.right {
    position: relative;
    right: -500px;
    opacity: 0;
}
.top {
    position: relative;
    top: -500px;
    opacity: 0;
}
.bottom {
    position: relative;
    bottom: -500px;
    opacity: 0;
}
/* Start Global Rules */
/* Start Header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header.active {
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    background: #000000b8;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.header.active .container::after {
    content: '';
    width: 0;
}
.header.active .container {
    min-height: 50px;
}
@media (max-width:767px) {
    .header {
        padding-bottom: 20px;
    }
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    min-height: 97px;
}
.header .container::after {
    content: '';
    position: absolute;
    height: 4px;
    width: calc(100% + 0px);
    background-color: #a2a2a2;
    bottom: 14px;
    left: 13px;
}
@media (max-width: 767px) {
    .header .container::after {
        content: '';
        position: absolute;
        height: 4px;
        width: calc(100% + 0px);
        background-color: #a2a2a2;
        bottom: 0px;
        left: 13px;
    }
}
.header .container .logo {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.container .logo img {
    height: 50px;
    background-color: white;
}
.container .logo h3 {
    padding-left: 10px;
}
.container .link {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container .link .bar {
    color: white;
    font-size: 22px;
    cursor: pointer;
}
@media (min-width:768px) {
    .container .link .bar{
        display: none;
    }
}
.header ul {
    display: flex;
}
@media (max-width:767px) {
.header ul {
    display: none;
}
}
.header .link ul a {
    display: block;
    padding: 40px 5px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s;
    position: relative;
    color: white;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.header .link ul a.active,
.header .link ul a:hover {
    color: var(--main-color);
    border-bottom: 1px var(--main-color) solid;
    z-index: 2;
}
.header .input {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px #f7f4f4 solid;
}
.header .input i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header .input i:hover {
    color: var(--main-color);
}
.header-overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: hide 0.4s linear forwards;
    -webkit-animation: hide 0.4s linear forwards;
}
.header-overly ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    height: 80%;
    width: 80%;
    border-radius: 4px;
    animation: hidden 0.4s linear forwards;
    -webkit-animation: hidden 0.4s linear forwards;
}
.header-overly a {
    position: relative;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.header-overly a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--main-color);
}
.header-overly a:hover {
    color: var(--main-color);
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.header-overly a:hover::after {
    width: 100%;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.header-overly a.active {
    color: var(--main-color);
}
.header-overly a.active::after {
    width: 100%;
}
.header-overly .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
}
.header-overly .close-button:hover {
    color: var(--main-color);
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
/* End Header */
/* Start landing */
.landing {
    background-color: darkgrey;
    position: relative;
    overflow: hidden;
}
.landing .slider-wrap {
    width: 400%;
    display: flex;
}
.landing .slide {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.landing .slider-1 {
    background-image: url(../images/landing.jpg);
}
.landing .slider-2 {
    background-image: url(../images/landing-2.jpg);
}
.landing .slider-3 {
    background-image: url(../images/landing-3.jpg);
}
.landing .slider-4 {
    background-image: url(../images/landing-4.jpg);
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 40px;
    background-color: var(--transparnt-color);
    color: white;
    display: flex;
    justify-content: flex-end;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2; 
}

.landing .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width: 100%;
}
.landing .btn button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}
.landing .btn .prev {
    position: absolute;
    left: 10px;
}
.landing .btn .next {
    position: absolute;
    right: 10px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.landing .bullets li.active {
    background-color:var(--main-color) ;
    border-color: var(--main-color);
}
.img-1 {
    background-image: url(../images/landing.jpg);
}
.img-2 {
    background-image: url(../images/landing-2.jpg);
}
.img-3 {
    background-image: url(../images/landing-3.jpg);
}
.img-4 {
    background-image: url(../images/landing-4.jpg);
}
/* End landing */
/* Start Box Model  */
.setting-box {
    position: fixed;
    top: 100px;
    left: -250px;
    width: 250px;
    z-index: 1;
    height: 55vh;
    background-color: #fff;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
    text-transform: capitalize;
}
.setting-box.active {
    left: 0;
}
.setting-box .icon {
    position: absolute;
    top: 30px;
    right: -34px;
    background: #fff;
    padding: 10px;
    cursor: pointer;
}
.setting-box .icon i {
    font-size: 14px;
}
.setting-box .icon.active i {
    animation: rounded 1s linear infinite;
    -webkit-animation: rounded 1s linear infinite;
}
.setting-box .option {
    margin: 10px;
    text-align: center;
    background: #eee;
    padding: 10px;
}
.setting-box .color ul {
    display: flex;
    margin: 10px;
}
.setting-box .color li {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}
.setting-box .color li.active {
    opacity: 1;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.setting-box .color li:first-child {
    background-color: #19c8fa;
}
.setting-box .color li:nth-child(2) {
    background-color: #f44336;
}
.setting-box .color li:nth-child(3) {
    background-color: #e91e63;
}
.setting-box .color li:nth-child(4) {
    background-color: #ff9800;
}
.setting-box .color li:nth-child(5) {
    background-color: #673ab7;
}
.setting-box .random ul {
    display: flex;
}
.setting-box .random ul li {
    background: var(--main-color);
    padding: 10px;
    margin: 10px 5px;
    width: 49%;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
}
.setting-box .random ul li.active {
    opacity: 1;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.setting-box .theme ul {
    display: flex;
}
.setting-box .theme li {
    background: var(--main-color);
    padding: 10px;
    color: #fff;
    margin: 10px 5px;
    width: 49%;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.setting-box .theme li.active {
    opacity: 1;
    transition: var(--Transition);
    -webkit-transition: var(--Transition);
    -moz-transition: var(--Transition);
    -ms-transition: var(--Transition);
    -o-transition: var(--Transition);
}
.setting-box button {
    background: #f11f1f;
    padding: 10px;
    width: 100%;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/* End Box Model  */
/* Start services */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
}
@media (min-width:768px) {
    .services .srv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 50px;
    }
}
.services .srv-box {
    display: flex;
}
.services .srv-box img{
    max-width: 50px;
    padding-right: 20px;
}
.services .srv-box i {
    padding-right: 20px;
}
@media (max-width:767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px
    }
    .services .srv-box i {
        margin: 0 0 40px;
    }
}
.services .text h3 {
    padding-bottom: 20px;
    color: var(--main-color);
    font-size: 20px;
}
.services .text p {
    padding-bottom: 20px;
    color: var(--secend-color);
    line-height: 2;
}
/* End services */
/* Start Design */
    .design {
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
        background-image: url(../images/design-features.jpg);
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        height: 600px;
        overflow: hidden;
    } 
    .design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    }
    .design .img img {
        max-width: 100%;
    }
    @media (max-width: 767px) {
        .design .img {
            display: none;
        }
    }
    .design .img,
    .design .text {
        position: relative;
        z-index: 2;
        flex: 1;
    }
    .design .img {
        text-align: center;
    }
    .design .img img {
        width: 500px;
        position: relative;
        bottom: -69px;
    }
    .design .text {
        padding: 50px;
        color: white;
        background-color: var(--transparnt-color);
    }
    .design .text h2 {
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 40px
    }
    .design .text ul li {
        padding: 15px 0;
    }
    .design .text ul li i {
        display: block;
    }
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
}

.container .shuffled ul {
    display: flex;
    justify-content: center;
}

.container .shuffled ul li {
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.747);
    cursor: pointer;
}
.container .shuffled ul li:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
}
.container .shuffled ul li.active {
    background-color: var(--main-color);
    color: white;
}
.imges-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.imges-container .box {
    position: relative;
    overflow: hidden;
}
.imges-container .box:hover .caption {
    bottom: 0;
}
@media (min-width: 768px) {
    .imges-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .imges-container .box {
        flex-basis: 25%;
    }
}
.imges-container .box img {
    max-width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    animation: hide 0.4s linear forwards;
    -webkit-animation: hide 0.4s linear forwards;
}
.imges-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
.imges-container .box img.three {
    height: 98.5%;
}
.imges-container .box .caption {
    position: absolute;
    left: 0;
    background-color: white;
    transition: 0.3s;
    bottom: -100px;
    width: 100%;
    margin-top: 10px;
    height: 70px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.imges-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.imges-container .box .caption p {
    color: var(--main-color);
}
.portfolio a.more {
    background-color: var(--main-color);
    color: white;
    display: block;
    width: fit-content;
    padding: 15px 30px;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.overly-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0, 0.8);
    z-index: 10001;
}
.overly-box .Box-img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #ffff;
    padding: 10px;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.overly-box .Box-img img {
    max-width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.close-button {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.box-head {
    padding: 10px 0 12px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}
/* End Portfolio */
/* Start Video  */
.video {
    position: relative;

}
.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 93%;
    width: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparnt-color);
    color: white;
    text-align: center;
}
.video .text h2 {
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
/* End Video  */
/* Start About */
.about {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    max-width: 100%;
    position: relative;
    bottom: -160px;
    margin-top: -160px;
}
@media (max-width:767px) {
    .about img {
        max-width: 100%;
        bottom: -71px;
    }
}
/* End About */
/* Start State */
.state {
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    overflow: hidden;
}
.state::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.state .container {
    color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--transparnt-color);
    padding: 50px;
}
.state .container .box {
    padding: 50px;
}
@media (max-width: 767px) {
    .state .container .box {
        flex-basis: 100%;
        display: flex;
        flex-flow: column;
    }
}
@media (min-width: 768px) {
    .state .container .box  {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .state .container .box  {
        flex-basis: 25%;
    }
}
.state .container .box i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 0 0 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin: 40px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.state .container .box .number {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px;
}
.state .container .box p {
    font-size: 14px;
}
/* End State */
/* Start Skills */
.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h2 {
    margin: 0 0 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    line-height: 2;
    color: var(--secend-color);
    margin-bottom: 30px;
    text-align: center;
}
.container .testimeonials .content {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.container .testimeonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 767px) {
    .container .testimeonials .content {
        flex-direction: column;
        text-align: center;
    }
    .container .testimeonials .content img {
        margin: 0 auto 20px;
    }
}
.container .testimeonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;  
}
.container .testimeonials .text p {
    color: var(--secend-color);
    text-align: right;
    font-size: 16px;
    margin: 5px 0 10px;
}
.container .testimeonials .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.container .testimeonials  ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container .testimeonials .bulluts li {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.container .testimeonials .bulluts li.active {
    background-color:var(--main-color) ;
    border-color: var(--main-color);
}
.container .skill {
    margin: 20px 0;
}
.container .skill .prog-holder {
    margin-bottom: 40px;
}
.container .skill .prog-holder h4 {
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.container .skill .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.container .skill .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
    width: 0;
    transition: width 0.4s linear;
    -webkit-transition: width 0.4s linear;
    -moz-transition: width 0.4s linear;
    -ms-transition: width 0.4s linear;
    -o-transition: width 0.4s linear;
}
.container .skill .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    right: -21px;
    top: -38px;
    padding: 0 5px;
    border-radius: 4px;
    width: 40px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.container .skill .prog-holder .prog span::after {
    content: '';
    border-color: black transparent transparent ;
    border-style: solid;
    border-width: 8px;
    position: absolute;
    right: -4px;
    top: -20px;
}
/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/Quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    height: 40vh;
    overflow: hidden;
}
@media (max-width: 767px) {
    .quote {
        height: 60vh;
}
}
.quote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.quote .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.quote q {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
}

.pricing .container .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}
.pricing .plans .plan {
    text-align: center;
}
.pricing .plans .plan .head {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin: 0 10px ;
    padding: 0 0 22px;
}
.pricing .plans .plan  h3 {
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.pricing .plans .plan  span {
    font-size: 60px;
    padding-bottom: 0px;
    font-weight: 600;
}

.pricing .plans .plan span::before {
    content: '$';
    font-size: 25px;
    position: relative;
    top: -38px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .plans .plan span::after {
    content: '/MO';
    font-size: 20px;
    font-weight: normal;
    position: relative;
    right: -14px;
}
.pricing .plans ul {
    border-bottom: 1px solid var(--main-color);
    margin: 0 10px;
}
.pricing .plans ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans ul li:not(:last-child):after {
    content: '';
    width: 140px;
    height: 1px;
    position: absolute;
    background-color: var(--main-color);
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.pricing .plan .foot a {
    padding: 20px;
    width: fit-content;
    border: 1px solid var(--main-color);
    text-decoration: none;
    display: block;
    position: relative;
    margin: 20px auto;
    top: 12px;
    color: #000;
}
.pricing .contact-text {
    text-align: center;
    margin: 50px auto 10px;
    font-size: 20px;
}
@media (max-width: 767px) {
    .pricing .contact-text {
        font-size: 16px;
    }
}
.pricing .contact-link {
    display: block;
    margin: 20px auto;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}
/* End Pricing */
/* Start Subscribe  */
.subscribe {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    height: 30vh;
    color: white;
    overflow: hidden;
}
@media (max-width: 767px) {
    .subscribe {
        height: 60vh;
    }
}
.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
@media (max-width: 991px ) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe .container form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    position: relative;
    max-width: 100%;
}
@media (max-width: 767px) {
    .subscribe .container form {
        width: 300px;
    }
}
.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
    .subscribe .container form i {
        top: 25%;
    }
}
.subscribe .container form input[type="email"] {
    border: 1px solid white;
    border-right:none ;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    background: none;
    width: calc(100% - 130px);
    position: relative;
}
.subscribe .container form input[type="email"]::placeholder {
    color: #fff;
}
@media (max-width: 767px) {
    .subscribe .container form input[type="email"] {
        width: 100%;
        display: block;
        border: 1px solid #fff;
    }
}
.subscribe .container form input[type="submit"]{
    width: 130px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .subscribe .container form input[type="submit"] {
        width: 100%;
        display: block;
        margin: 15px 0;
    }
}
.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
    outline: none;
}
.subscribe::placeholder {
    color: white;

}
::-webkit-input-placeholder {
    color: white;
}
::-moz-placeholder {
    color: white;
}
.subscribe p {
    margin-left: 30px;
    line-height: 1.8;
}
@media (max-width: 991px ) {
    .subscribe p {
        margin: 30px 0 0;
    }
}
/* End Subscribe  */
/* .Start Contact */
.contact-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    overflow: hidden;
}
.contact-us .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact-us .content {
        flex-direction: column;
    }
}
.contact-us .content form {
    flex-basis: 70%;
}
.contact-us .content form .main-input {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    caret-color: var(--main-color);
}
.contact-us .content form .main-input:focus {
    outline: none;
}
.contact-us .content form .main-input.input::placeholder {
    color: black;
}
::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}
::-moz-placeholder {
    color: rgb(0, 0, 0);
}
.contact-us .content form textarea.main-input {
    height: 200px;
}

.contact-us .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: flex;
    margin-left: auto;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.contact-us .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact-us .content .info {
        order: -1;
        text-align: center;
    }
}
.contact-us .content .info h4 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-us .content .info .phone {
    display: block;
    margin-bottom: 10px;
    color: var(--secend-color);
}
.contact-us .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px) {
    .contact-us .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact-us .content .info address {
    color: var(--secend-color);
    line-height: 2;
}
@media (max-width: 767px) {
    .contact-us .content .info address {
        margin-bottom: 20px;
    }
}
/* .End Contact */
/* Start Footer */
.footer {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}
.footer::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
}
.footer .container .logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer .logo p {
    font-size: 20px;
    padding-left: 10px;
}
.footer .container .logo img {
    max-width: 50px;
}
.footer p:not(.copyright, .logo) {
    padding: 0 0 20px 0;
    font-size: 24px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    text-transform: uppercase;
}
.footer .social-icon i {
    padding: 10px 20px;
}
.footer .social-icon i:hover {
    color: var(--main-color);
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
}
.footer p.copyright {
    margin-top: 60px;
    font-size: 22px;
}
.footer p.copyright span {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
button.up {
    position: fixed;
    bottom: 200px;
    right: 45px;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    z-index: 1000;
}

button.up.active {
    opacity: 1;
    bottom: 45px;
}

/* Start Animation  */
@keyframes hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hidden {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
@keyframes rounded {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* End Animation  */